<c-card class="mb-4">
    <c-card-header ngPreserveWhitespaces>
        <strong>Add Order Item</strong>
    </c-card-header>
    <c-card-body>
        <form [formGroup]="orderItemForm" cForm>
            <div class="mb-3">
                <label cLabel for="exampleFormControlInput1">Product Name</label>
                <select cFormControl
                        id="exampleFormControlInput1"
                        formControlName="productId"
                        type="text"
                        cSelect>
                    <option *ngFor="let p of product" [value]="p.id">{{p.productName}}</option>
                </select>
            </div>
            <div class="mb-3">
              <label cLabel for="exampleFormControlInput2">Quantiy</label>
              <input cFormControl
                     id="exampleFormControlInput2"
                     placeholder=""
                     type="number"
                     formControlName="quantity"
              />
            </div>
            <button cButton (click)="onSubmit()" class="mt-3" color="primary">
                Add
            </button>
          </form>
    </c-card-body>
</c-card>
