<c-card class="mb-4">
    <c-card-header>
      <strong>Order Item List</strong>
    </c-card-header>
    <c-card-body *ngIf="orderItem != null">
        <table cTable>
          <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Product Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total Price</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let o of orderItem">
                <th scope="row">{{ o.id }}</th>
                <td>{{ o.product }}</td>
                <td>{{ o.quantity }}</td>
                <td>{{ o.marginPrice }} TRY</td>
                <td><a routerLink="/orderitem/edit/{{ o.id }}"><i class="bi bi-pencil"></i></a></td>
                <td><a routerLink="/orderitem/list" (click)="isDelete(o.id)"><i class="bi bi-trash"></i></a></td>
            </tr>
          </tbody>
        </table>
    </c-card-body>
  </c-card>