table.cTable tbody > tr:hover {
    background-color: #000000; 
  }
  
  table.cTable tbody > tr {
    border: 3px solid #000000; 
  }

  table.cTable tbody > tr {
    font-weight: bold; 
    font-size: 14px; 
  }

  .orderitems td {
    color: rgba(0, 0, 0, 0.7); 
}