<c-card class="mb-4">
    <c-card-header ngPreserveWhitespaces>
        <strong>Edit Order Item</strong>
    </c-card-header>
    <c-card-body>
        <form [formGroup]="orderItemForm" cForm>
            <div class="mb-3">
              <label cLabel for="exampleFormControlInput2">Quantiy</label>
              <input cFormControl
                     id="exampleFormControlInput2"
                     placeholder=""
                     type="number"
                     formControlName="quantity"
              />
            </div>
            <button cButton (click)="onSubmit()" class="mt-3" color="primary">
                Update
            </button>
          </form>
    </c-card-body>
</c-card>
