<c-card *ngIf="orderItem.length > 0" class="mb-4">
    <c-card-header>
      <strong>Product List</strong>
    </c-card-header>
    <c-card-body>
        <table cTable>
          <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Product Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total Price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let o of orderItem">
                <th scope="row">{{ o.id }}</th>
                <td>{{ o.product }}</td>
                <td>{{ o.quantity }}</td>
                <td>{{ o.marginPrice }} TRY</td>
            </tr>
          </tbody>
        </table>
        <span><strong>Total Price:</strong> {{ totalPrice }} TRY</span>
    </c-card-body>
  </c-card>

<c-card class="mb-4">
    <c-card-header ngPreserveWhitespaces>
        <strong>Add Order Item</strong>
    </c-card-header>
    <c-card-body>
        <form [formGroup]="orderForm" cForm>
            <div class="mb-3">
                <label cLabel for="exampleFormControlInput1"><strong>Payment Method</strong></label>
            </div>
            <div class="mb-3">
                <c-form-check inline>
                    <input cFormCheckInput id="radioinline1" type="radio" formControlName="paymentMethod" [value]="'1'"/>
                    <label cFormCheckLabel for="radioinline1">Remittance</label>
                </c-form-check>
                <c-form-check inline>
                    <input cFormCheckInput id="radioinline2" type="radio" formControlName="paymentMethod" [value]="'2'"/>
                    <label cFormCheckLabel for="radioinline2">Credit Card</label>
                </c-form-check>
                <c-form-check inline>
                    <input cFormCheckInput id="radioinline3" type="radio" formControlName="paymentMethod" [value]="'3'"/>
                    <label cFormCheckLabel for="radioinline3">Credit Limit</label>
                </c-form-check>
            </div>
            <div class="mb-3" *ngIf="orderForm?.get('paymentMethod')?.value === '2'">
                <div class="mb-3">
                    <label cLabel for="exampleFormControlTextarea1">Name on Card</label>
                    <input cFormControl
                           id="exampleFormControlTextarea1"
                           placeholder="Card Holder's Name"
                           type="text"
                    />
                </div>
                <div class="mb-3">
                    <label cLabel for="exampleFormControlInput1">Card Number</label>
                    <input cFormControl
                           id="exampleFormControlInput1"
                           placeholder="xxxx-xxxx-xxxx-xxxx"
                           type="number"
                    />
                </div>
                <div class="mb-3">
                    <label cLabel for="exampleFormControlInput2">CVV</label>
                    <input cFormControl
                            id="exampleFormControlInput2"
                            placeholder="CVV"
                            type="number"
                    />
                </div>
            </div>
            <button cButton (click)="onSubmit()" class="mt-3" color="primary">
                Order
            </button>
          </form>
    </c-card-body>
</c-card>