:host {
  .legend {
    small {
      font-size: x-small;
    }
  }
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.company-description {
  display: flex;
  align-items: center;
}

.company-image {
  width: 150px; 
  height: 200px;
  margin-left: 5px; 
}




