<div class="company-info">
  <div class="company-details">
    <h1>Orhan Technologies</h1>
    <p class="company-description">
      Orhan Technologies is a leading company that offers high-quality technological products and services. We assist businesses in improving their operations by providing customized solutions for our customers.
    </p>
    <h2>Vision</h2>
    <p class="vision">
      To make the world a better place by offering sustainable and innovation-focused technology solutions to our customers.
    </p>
    <h2>Mission</h2>
    <p class="mission">
      To provide tailored solutions to our customers' needs using the latest technologies, maximize customer satisfaction, and add value to the business world.
    </p>
    <h2>Our Core Values</h2>
    <ul class = "core-values">
      <li>Reliability</li>
      <li>Social Responsibility</li>
      <li>Results Orientation</li>
      <li>Customer Focus</li>
      <li>Innovation</li>
      <li>Teamwork</li>
      <li>Loyalty</li>
      <li>Leadership</li>
    </ul>
  </div>
</div>